*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
/* Nav menu */
nav{
  height: 90px;
  display: flex;
  justify-content: space-between;
}
nav ul{
  float: right;
  margin-right: 30px;
}
nav ul li{
  display: inline-block;
}
nav .menu ul li a{
  color: #495057;
  display: block;
  padding: 0 15px;
  line-height: 70px;
  font-size: 20px;
  transition: .5s;
}
nav ul li a:hover {
background: #23dbdb;

}
nav ul li{
color: #23dbdb;
}
nav ul ul{
  position: absolute;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: .3s linear;
}
nav ul ul li{
  width: 150px;
  display: list-item;
  position: relative;
  border-top: none;
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul{
  border-top: none;
}
nav ul ul ul li{
  position: relative;
  top: -70px;
  left: 150px;
}
nav ul ul li a i{
  margin-left: 45px;
}
/*End nav*/

.contact{
    max-width: 1000px;
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items:center;
}
.name{
    display: flex;
    gap: 20px;
}
.mail{
    display: flex;
    gap: 20px;
}
.cxt{
    text-align: center;
    font-family: monospace;
    font-size: 40px;
}
.first-name{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
}
.last-name{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
}
.email{
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border-radius: 0.25rem;
}
.phone{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
}
.message{
    max-width: 500px;
    max-height: 2000px;
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border-radius: 0.25rem;
}
.msg{
    text-align: right;
}
.btn{
    background-color: #02bfc6;
    border: 1px solid #02bfc6 !important;
    color: #fff;
    font-size: 16px;
    height: 50px;
    width: 200px;
}
body{
    /* font-family: sans-serif; */
    /* overflow: hidden;
    user-select: none; */
    padding: 3px;
}

/* CSS class footer */
footer{
  background: #252525;
  border-top: 4px solid #1cbbb4;
  padding-top: 35px;
  padding-bottom: 45px;
  color: #959595;
}
.footer{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  gap: 40px;
  align-items: baseline;
}