@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  } 
/* Nav menu */
nav{
  height: 90px;
  display: flex;
  justify-content: space-between;
}
nav ul{
  float: right;
  margin-right: 30px;
}
nav ul li{
  display: inline-block;
}
nav .menu ul li a{
  color: #495057;
  display: block;
  padding: 0 15px;
  line-height: 70px;
  font-size: 20px;
  transition: .5s;
}
nav ul li a:hover {
background: #23dbdb;

}
nav ul li{
color: #23dbdb;
}
nav ul ul{
  position: absolute;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: .3s linear;
}
nav ul ul li{
  width: 150px;
  display: list-item;
  position: relative;
  border-top: none;
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul{
  border-top: none;
}
nav ul ul ul li{
  position: relative;
  top: -70px;
  left: 150px;
}
nav ul ul li a i{
  margin-left: 45px;
}
/*End nav*/
/*CSS page section carte */
.carte {
  padding: 20px;
    display: flex;
    gap: 30px;
    flex-wrap : wrap;
}
/*Animation de carte */
.destination{
  position: relative;
  overflow: hidden;
}
.destination *{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
.destination .hover{
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.hover{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}
.destination :hover{
  opacity: 0.1;
}
.destination:hover > img,
.destination.hover > img {
  opacity: 0.1;
}
.destination:hover h3,
.destination.hover h3
 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}




/* taille of image */
.carte div img{
    width: 300px;
    height: 300px;
    backface-visibility: hidden;
}
.prix{
    display: flex;
    justify-content: space-between;
}
p{
  text-align: right;
}
.card-body{
  padding: 5px;
}
.book{
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7ac2c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}
.book :hover , .book :focus {
  background-color: #b3d3ea;
  color: #2c5777;
}
.book :focus {
  box-shadow: 0 0 0 4px rgba(8, 252, 231, 0.15);
}
.book :active{
  background-color: #9ef1f1;
  box-shadow: none;
  color: #2c5777;
}
/* CSS class footer */
footer{
  background: #252525;
  border-top: 4px solid #1cbbb4;
  padding-top: 35px;
  padding-bottom: 45px;
  color: #959595;
}
.footer{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  gap: 40px;
  align-items: baseline;
}